ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
button {
	margin: 30px 0;
/*	width: 200px;*/
}

#musica img {
	width: 100%;
	padding: 20px;
}

#musica {
	font-family: 'Alice', cursive;
}

section {
	background-color: #feffd6;
	margin-top: 0;
}

.row {
	padding-top: 10px;
	margin-bottom: 20px;
}

.body {
	max-height: 35px;
}

.jumbotron {
	height: 735px;
	margin-bottom: 0;
	background-image: url("img/14.png");
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.divTextos {
	margin-top: 540px;
}

.img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	background-color: grey;
	margin-top: 40px;
	margin-bottom: 40px;
}

#containerPrincipal {
	padding: 50px 30px 50px 50px;
	margin: 10px 30px;
}

#containerPrincipal h1 {
	margin-bottom: 30px;
}

.profile {
	padding: 10px 40px 40px 40px;
}

#close {
	float: right;
	margin-top: -15px;
	margin-right: -20px;
	cursor: pointer;
}

#columnaDeTextos button {
	margin: 20px 0 20px 20px;
	border: 0;
	background-color: transparent;
	font-size: 30px;
	font-family: 'Vidaloka', serif;
}

#columnaDeTextos button:hover {
	background-color: #ff7777;
	color: white;
}

#columnaDeTextos {
	background-color: #C9DAF8;
	border-radius: 10px;
	padding: 15px 0;
}

#myCarousel {
	/*margin: 30px;*/
	width: 100%;
	background-color: black;
	margin: 20px 0 20px 0;
	min-height: 1px;

}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%;
}

#containerPrincipal h1 {
	font-size: 30px;
}
#containerPrincipal p {
	font-size: 20px;
	font-family: 'Arial', cursive;
}


footer {
	min-height: 150px;
	background-color: /*#116f93*/ #898989;
	color: black;
}

footer h4 {
	margin: 15px 0;
}

footer a {
	padding: 6px 10px;
	border-radius: 5px;
	background-color: transparent;
	text-decoration: none;
	color: black;
}

footer a:hover {
	text-decoration: none;
}

footer span {
	display: inline-block;
	color: black;
	margin: 0 10px;
	background-color: transparent;
}

footer h2 {
	margin-top: 5px;
}

footer h3 {
	margin-top: 10px;
}

.footer a {
	background-color: transparent;
}


#btnTextos, #btnImagenes, #btnMusica, #btnBio {
	background-color: transparent;
	border: 0;
	padding: 30px;
	font-family: 'Vidaloka', serif;
	font-size: 40px;
}

#btnTextos:hover, #btnImagenes:hover, #btnMusica:hover, #btnBio:hover {
	font-size: 60px;
	padding: 15px;
}

#bio {
	padding: 20px;
}

#bio p {
	font-size: 20px;
	font-family: 'Alice', cursive;
	padding: 20px;
}

@media (max-width: 995px) {
  .divTextos {
    margin-top: 20px;
  }
  .divTextos button {
  	color: white;
    text-align: left !important;
  }
  .divTextos button:hover {
  	color: white;
    text-align: left;
  }
}

@media (max-height: 668px) {
  .jumbotron {
    height: 667px;
  }
}

@media (max-height: 568px) {
  .jumbotron {
    padding-top: 0px;
    height: 568px;
  }
  .jumbotron button {
  	margin-top: 0;
  }
  .jumbotron button:hover {
  	color: white;
  }
}

